<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Panorama</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav nav">
            <li><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a class="nav-link" href="/about">About</a></li>
            <li><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar navbar-right">
            {% if session.logged_in %}
                <li><a class="nav-link" href="/logout">Logout</a></li>
                <li><a class="nav-link" href="/dashboard">Dashboard</a></li>
            {% else %}
                <li><a class="nav-link" href="/manager-login">Property Manager Login</a></li>
                <li><a class="nav-link" href="/owner-login">Owner Login</a></li>
            {% endif %}
        </ul>
      </div>
</nav>